@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn-primary {
  background-color: #ff900e;
  color: #ffffff;
  padding: 20px 25px;
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 8px;
  border: none;
  margin-bottom: 24px;
}

/* Navbar section */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-weight: bold;
  font-size: 2rem;
}

.nav-links {
  display: flex;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
.text-light-gray {
  color: #424242;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.navbar,
.banner {
  max-width: 1200px;
  margin: 0 auto;
}

/* banner related style */
.banner {
  display: flex;
  justify-content: center;
}
.banner-content {
  /* max-width: 850px; */
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-weight: 700;
  font-size: 3rem;
}

.banner-img {
  width: 100%;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width:576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
    
}

/*Team and feature related style */
.teams{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
    margin-bottom: 100px;
}

.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:18px;
}

.feature{
    max-width: 537px;
    margin-left:78px;
}

#quick-list-1{
    color:#727272;
    font-size:45px;
    font-weight: 400px;
}
#quick-list-2{
    color:black;
    font-size: 45px;
    font-weight: bold;
}
#feature{
    color:rgba(255, 144, 14, 1);
    font-size: 45px;
    font-weight: bold;
}